* { margin: 0; padding: 0; }

body
{
  background: #403595 url('images/background.jpg');
}

#input-display
{
  margin: 0 auto;
  margin-top: 80px;
  padding: 40px;

  width: 80%;
  font-size: 42px;
  text-align: center;
}

.sure 
{
  color: #ffffff;
}

.guess
{
  color: #000000;
}
